html{
  scroll-behavior: smooth;
}

div:first-child{
  border: lightskyblue;
}

body{
font-size: 18px;
margin: 0;
padding:0;
}

h1{
font-size: 50px;
line-height: 1;
padding: 50px 0;
text-align: center;
}

h2{
font-size: 32px;
line-height: 1.5;
text-align: center;
}

nav li{
display:inline;
padding-right:20px;
}

nav a{
color:black;
font-weight: bold;
text-decoration: none;
}

nav a:hover{
text-decoration: underline;
}


.skip a{
background: white;
left: 0;
padding: 6px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
position: absolute;
top:-40px
}

nav{
background-color:lightskyblue;
padding: 25px 0; 
text-align: right;
}

footer{
background-color: black;
color: white;
padding-top: 15px;
padding-bottom: 15px;
text-align: center;

}
div{
  border: 5px solid lightcoral
 }

.gallery{
  min-height: 600px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}

.gallery > img{
  border: 10px solid lightcoral;
  margin: 10px;
  width: 300px;
}


header{
  background: #fff;
  border-bottom: 3px solid lightcoral;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

.nav_links{
  
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}

.nav_item a{
  color: black;
  text-decoration: none;
}

.nav_item:nth-child(3) a{
  color:red !important
}

@media screen and (min-width: 850px){

  
  header{
    text-align:left;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .nav_links{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right; 
   
  }

  .nav_item a{
    padding: 10px;
  }
  
}

@media print { 
  li:first-child, li:nth-child(2), li:nth-child(3), li:nth-child(4){
   display:none}
   footer{
    display: none;
    height:0 !important
  }
  
}
  

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; 
  }

  .skip a{
    -webkit-transition: none; 
    transition: none;      
   }

  
  header{
    background-attachment: initial;
  }
}

